This file uses a template. The data in here will change. Here's the information
on the AppContainer's metadata from appcontainers:

AppContainerMetadata:
    - name: {{metadata.name}}
    - ip: {{metadata.ip}}
    - mac: {{metadata.mac}}
