This file uses a template. The data in here will change. Here's the information
on the resource reservation from appcontainers:

ResourceReservation:
    - name: {{reservation.name}}
    - ip: {{reservation.ip}}
    - mac: {{reservation.mac}}
